#ignore executable file
FillTheScreen
FillTheScreen.exe
#ignore the build folder
build
#ignore obj files
*.o
tmp/*.o
#vscode files
.vscode/
#ignore texts files
*.txt
#valgrind cores because my program segfaults, skill issue
vgcore.*